python-dotenv
pymongo
pymongo[srv]
ipykernel
numpy
pandas
matplotlib
seaborn
bs4
flask
scikit-learn
memory_profiler
streamlit
xgboost
catboost
dill
certifi
pyaml
tensorboard
tensorflow-datasets
keras
tensorflow
google-api-python-client
praw
instaloader
openai
langchain-community
langchain
langchain-text-splitters
gensim
youtube-comment-downloader
snscrape
nltk
youtube_comment_downloader
praw
gensim
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu128
##-e .